@import '_mixins.scss','_reset';

* {
    font-weight: 100;
    font-family: 'Felix Titling', sans-serif;
    color: white;
}

body {
    background-color: black;
    overflow-x: hidden;
    cursor: none;
}

a {
    cursor: none;
    transition: color .5s;

    &:hover {
        color: rgba(0, 0, 0, 0.651);
    }
}

.pointer {
    --size: 20px;
    position: fixed;
    width: var(--size);
    height: var(--size);
    top: calc(var(--size)/-2);
    left: calc(var(--size)/-2);
    transform: translate(var(--cursor-x, -100px), var(--cursor-y, -100px)) translateZ(0);
    pointer-events: none;
    z-index: 5;
    will-change: transform;
    border: 2px solid white;
    border-radius: 50%;
    mix-blend-mode:difference;
}

.background {
    background-color: black;
    width: 100%;
    height: 100vh;
    @include flex(row,nowrap,center,center);
    overflow: hidden;
    position: fixed;


    &::before {
        content: '';
        position: absolute;
        background-color: rgba(141, 141, 141, 0.836);
        width: 100%;
        height: 100vh;
    }

    .boxed {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        animation: rotate 3s ease-in-out;
        filter: blur(80px);

        @include desktop{
            animation: rotate 5s ease-in-out;
            filter: blur(100px);
        }
        
        .box1 {
            background-color: red;
            width: 38vw;
            height: 38vw;
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            animation: rotate1 3s linear infinite;
        }
        .box2 {
            background-color: green;
            width: 38vw;
            height: 38vw;
            border-radius: 63% 37% 19% 81% / 70% 56% 44% 30%;
            animation: rotate2 3s linear infinite;
        }
        .box3 {
            background-color: blue;
            width: 38vw;
            height: 38vw;
            border-radius: 0% 100% 78% 22% / 60% 24% 76% 40%;
            animation: rotate1 3s linear infinite;
        }
    
        .box4 {
            background-color: rgb(255, 85, 255);
            width: 38vw;
            height: 38vw;
            border-radius: 53% 47% 100% 0% / 100% 70% 30% 0%;
            animation: rotate2 3s linear infinite;
        }

        .box {
            @include desktop{
                animation: rotate1 25s linear infinite;
            }
        }
    }
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg) scale(0);
    }

    to {
        transform: rotateZ(360deg) scale(1);
    }
}

@keyframes rotate1 {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes rotate2 {
    from {
        transform: rotateZ(360deg);
    }
    
    to {
        transform: rotateZ(0deg);
    }
}


.header{
    position: relative;
    width: 100%;
    padding: 1rem .7rem;
    z-index: 2;
    transition: background-color .5s;
    @include flex(row,wrap,space-between,center);

    @include tablet {
        padding: 0rem .7rem;
    }

    
    .logo{
        img{
            width: 2.5rem;
            mix-blend-mode:difference;
            
            @include tablet{
                position: fixed;
                left: 10;
                top: 10;
            }
        }
    }
    
    .button{
        i{
            font-size: 1.5rem;
        }

        @include tablet{
            display: none;
        }
    }
    
    .nav{
        width: 100%;
        height: 0;
        transition: height .5s;
        @include flex(row,nowrap,center,center);
        overflow: hidden;

        @include tablet{
            width: auto;
            height: auto;
        }
        
        .ul{
            li{    
                padding: 1rem 0 0 0;            
                span{
                }
            }
        }
    }

    .active {
        pointer-events: auto;
        height: 10vh;
    }
}

.active1 {
    background-color: rgba(0, 0, 0, 0.658);
}

.main{
    position: relative;

    width: 100%;
    height: 98vh;
    @include flex(column,nowrap,space-around,center);


    .set{
        @include desktop {
            margin: 5rem;
            @include flex(row,nowrap,space-between,center);
            width: 100%;
        }
        
        .sub-text{
            display: none;

            @include desktop {
                display: inline;
                @include flex(row,nowrap,space-between,center);
                text-align: center;
                padding: .5rem;
            }

            span{}
        }
        
        .title{
            margin: 10rem 0 ;
            text-align: center;

            h1{
                @include rs(2.3rem);
                letter-spacing: 5px;
                mix-blend-mode:difference;

                @include desktop {
                    @include rs(3rem);
                    padding: 0 2rem 0 0;
                }
            }
            .sub-title{
                margin: .5rem;

                @include desktop {
                    padding: 0 1.5rem 0 0;
                }

                span{
                    @include rs(.3rem);
                    position: relative;
                    opacity: .5;

                    @include tablet {
                        @include rs-2(.4rem)
                    }

                    @include desktop {
                        font-size: 1rem;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        width: 85%;
                        height: 1px;
                        bottom: -1px;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: white;
                    }
                }
            }
        }
        .sub-menu{
            background-color: rgba(158, 158, 158, 0.884);

            display: none;
            transition: all .5s;

            @include desktop {
                @include flex(row,nowrap,space-evenly,center);
                padding: 4rem .3rem;
                border-radius: 2rem 0 0 2rem;
                width: 1vw;

                .redes {
                    display: none;
                    
                    i {
                        margin: 0 0 .5rem;
                    }
                }

                &:hover .redes {
                    @include flex(column,nowrap,center,center);
                }


                &:hover {
                    width: 4vw;
                    transition: all .5s;
                }
            }

            i{}
        }
    }
    .post-set{
        padding: 1rem 0 0;

        
        @include tablet{
            padding: 10rem 0 0;
        }
        
        @include desktop {
            padding: 0 0 0 3rem;
            margin: 0 0 1rem;
        }
        
        @include flex(column,nowrap,center,center);
        
        span{
            @include rs(.3rem);
            font-weight: 400;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            @include tablet{
                @include rs-2(.3rem)
            }

            @include desktop {
                font-size: .8rem;
            }
        }
        i{
            padding: .2rem 0 0;
        }
    }
}

.section-one{
    position: relative;
    padding: 3rem 1rem;

    height: 100vh;
    width: 100%;
    @include flex(column,nowrap,space-around,center);
    
    
    h2{
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        letter-spacing: 1px;
        position: relative;

        &::before {
            content: '';
            width: 90%;
            height: 1px;
            background-color: white;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            @include tablet{
                width: 80%;
            }
        }

        span{
            font-size: .8rem;
        }
    }

    .boxs{
        width: 90%;
        padding: 1rem;
        margin: 3rem 0 0;
        
        @include flex(column,nowrap,center,center);
        gap: 1.8rem;

        @include desktop{
            width: 60%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        
        .box{
            position: relative;
            margin: 0 auto;
            background-color: green;
            width: 45vw;
            height: 16vh;
            border-radius: .5rem;
            overflow: hidden;

            @include desktop {
                width: 30vw;
                height: 35vh;
            }

            
            img{
                width: 100%;
                height: 100%;
                transform:scale(1.2);
            }
            
            
            .hover{
                opacity: 0;
                h2{
                    padding: 1rem;
                }
                span{
                    padding: .5rem;
                }
                transition: all .5s;
            }
        }

        .box:hover .hover {
            display: block;
            width: 100%;
            height: 100%;
            opacity: 1;
            position: absolute;
            background-color: rgb(92, 92, 92);
            top: 0;
            left: 0;
            text-align: center;
            @include flex(column,nowrap,center,center);
        }
    }
}

.section-two{
    position: relative;
    padding: 1rem;
    width: 100%;
    height: 100vh;
    @include flex(column,nowrap,space-evenly,center);

    @include desktop {
        @include flex(column,nowrap,space-evenly,center);
    }
    
    h2{
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        letter-spacing: 1px;
        position: relative;

        &::before {
            content: '';
            width: 90%;
            height: 1px;
            background-color: white;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            @include tablet{
                width: 80%;
            }
        }

        span{
            font-size: .8rem;
        }
    }

    .main-skills{
        width: 100%;
        @include flex(row,nowrap,center,center);
        
        .skill{
            text-align: center;
            padding: .9rem 0 0 .8rem;
            
            i{
                font-size: 2rem;
            }
            img{}

            @include desktop {
                padding: 3rem;
            }
        }

        .skills1 {
            i {
                margin: 0 0 1rem 0;
            }
        }

        .skills3 {
            margin: .4rem 0 0;

            i {
                margin: 0 0 .4rem 0;
            }
        }
    }

    .sub-skills{
        @include flex(column,nowrap,center,center);
        gap: 3rem;

        @include desktop {
            @include flex(row,nowrap,space-between,center);
            gap: 20rem
        }
        
        .sub-1{
            span{
                @include rs(.2rem);

                @include desktop {
                    font-size: 1rem;
                }
            }
            
            .box {
                @include flex(row,nowrap,start,center);

                @include desktop {
                    width: 20vw;
                }
                
                i{
                    @include desktop {
                        font-size: 2rem;
                    }
                }
                
                img{
                    width: 2rem;
                    margin: .5rem;

                    @include desktop {
                        width: 3rem;
                    }
                }
            }
        }

        .sub-2 {
            width: 100%;
            @include flex(column,nowrap,center,center);
            
            span{
                @include rs(.2rem);

                @include desktop {
                    font-size: 1rem;
                }
            }
            .boxs{
                @include flex(row,nowrap,center,center);
                @include desktop {
                    margin: .5rem;
                }
                
                .box {
                    @include flex(column,nowrap,start,center);
                    
                    
                    i{}
                    
                    img{
                        width: 2rem;
                        margin: .3rem;

                        @include desktop {
                            width: 3.5rem;
                        }
                    }
                }
            }
        }
    }
}

.section-three {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    @include flex(column,nowrap,space-between,center);
    
    h2{
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        letter-spacing: 1px;
        position: relative;

        &::before {
            content: '';
            width: 90%;
            height: 1px;
            background-color: white;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            @include tablet{
                width: 80%;
            }
        }

        span{
            font-size: .8rem;
        }
    }

    .info{
        width: 100%;
        height: 85%;
        margin: 0 0 1rem;
        border-radius: 5rem;
        background-color: #727272f5;
        border: 1px solid #7B7B7B;

        @include tablet {
            width: 70%;
        }
        
        .img{
            width: 100%;
            height: 20vh;
            border-radius: 5rem;
            margin: 2rem 0 0;
            
            img{
                margin: 0 auto;
                height: 20vh;
            }
        }

        h4{
            text-align: center;
            padding: 2rem;
            margin: 2rem 0;

            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}

.footer {
    width: 100%;
    text-align: center;
    background: rgb(189,57,57);
    background: linear-gradient(90deg, rgba(189,57,57,1) 0%, rgba(98,194,96,1) 33%, rgba(79,64,219,1) 65%, rgba(182,41,255,1) 100%);
    position: relative;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0.37);
        position: absolute;
        left: 0;
        z-index: 1;

        @include tablet{
            width: 80%;
        }
    }

    i {
        padding: .1rem 0;
    }
}