@charset "UTF-8";
/*

  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web

*/
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  display: block;
  /* opcional */
  object-fit: cover;
  /* opcional */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-weight: 100;
  font-family: "Felix Titling", "Felix Titling";
  color: white;
}

@font-face {
  font-family: "Felix Titling";
  src: url("http://fonts.cdnfonts.com/css/felix-titling") format("truetype");
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(156, 156, 156);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: black;
  overflow-x: hidden;
  cursor: none;
  font-family: "Felix Titling", "Felix Titling";
  transition: all 0.5s;
}

a {
  cursor: none;
  transition: color 0.5s;
}
a:hover {
  color: rgba(0, 0, 0, 0.651);
}

.pointer {
  --size: 20px;
  position: fixed;
  width: var(--size);
  height: var(--size);
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  transform: translate(var(--cursor-x, -100px), var(--cursor-y, -100px)) translateZ(0);
  pointer-events: none;
  z-index: 5;
  will-change: transform;
  border: 2px solid white;
  border-radius: 50%;
  mix-blend-mode: difference;
}

.background {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  overflow: hidden;
  position: fixed;
}
.background::before {
  content: "";
  position: absolute;
  background-color: rgba(141, 141, 141, 0.836);
  width: 100%;
  height: 100vh;
}
.background .boxed {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  animation: rotate 3s ease-in-out;
  filter: blur(80px);
}
@media screen and (min-width: 1200px) {
  .background .boxed {
    animation: rotate 5s ease-in-out;
    filter: blur(200px);
  }
}
.background .boxed .box1 {
  background-color: red;
  width: 38vw;
  height: 38vw;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  animation: rotate1 3s linear infinite;
}
.background .boxed .box2 {
  background-color: green;
  width: 38vw;
  height: 38vw;
  border-radius: 63% 37% 19% 81%/70% 56% 44% 30%;
  animation: rotate2 3s linear infinite;
}
.background .boxed .box3 {
  background-color: blue;
  width: 38vw;
  height: 38vw;
  border-radius: 0% 100% 78% 22%/60% 24% 76% 40%;
  animation: rotate1 3s linear infinite;
}
.background .boxed .box4 {
  background-color: rgb(255, 85, 255);
  width: 38vw;
  height: 38vw;
  border-radius: 53% 47% 100% 0%/100% 70% 30% 0%;
  animation: rotate2 3s linear infinite;
}
@media screen and (min-width: 1200px) {
  .background .boxed .box {
    animation: rotate1 25s linear infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg) scale(0);
  }
  to {
    transform: rotateZ(360deg) scale(1);
  }
}
@keyframes rotate1 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate2 {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
.header {
  position: relative;
  width: 100%;
  padding: 1rem 0.7rem;
  z-index: 2;
  transition: background-color 0.5s;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
@media screen and (min-width: 800px) {
  .header {
    padding: 0rem 0.7rem;
  }
}
.header .logo img {
  width: 2.5rem;
  mix-blend-mode: difference;
}
@media screen and (min-width: 800px) {
  .header .logo img {
    position: fixed;
    left: 10;
    top: 10;
  }
}
@media screen and (min-width: 1200px) {
  .header .logo img {
    left: 20;
    top: 20;
  }
}
.header .button i {
  font-size: 1.5rem;
}
@media screen and (min-width: 800px) {
  .header .button {
    display: none;
  }
}
.header .nav {
  width: 100%;
  height: 0;
  transition: height 0.5s;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  overflow: hidden;
}
@media screen and (min-width: 800px) {
  .header .nav {
    width: auto;
    height: auto;
  }
}
.header .nav .ul li {
  padding: 0.5rem 0 0 0;
}
.header .active {
  pointer-events: auto;
  height: 10vh;
}

.active1 {
  background-color: rgba(0, 0, 0, 0.658);
}

.main {
  position: relative;
  width: 100%;
  height: 98vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
@media screen and (min-width: 1200px) {
  .main .set {
    margin: 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 100%;
  }
}
.main .set .sub-text {
  display: none;
}
@media screen and (min-width: 1200px) {
  .main .set .sub-text {
    display: inline;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    text-align: center;
    padding: 0.5rem;
  }
}
.main .set .title {
  margin: 10rem 0;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .main .set .title {
    margin: 10rem 2.5rem 10rem 0;
  }
}
.main .set .title h1 {
  font-size: calc(2vw + 2.3rem);
  line-height: 1;
  letter-spacing: 5px;
  mix-blend-mode: difference;
  font-family: "Felix Titling", "Felix Titling";
  text-transform: uppercase;
  transition: all 0.5s;
}
@media screen and (min-width: 1200px) {
  .main .set .title h1 {
    font-size: calc(2vw + 3rem);
    line-height: 1;
    padding: 0 2rem 0 0;
  }
}
.main .set .title .sub-title {
  margin: 0.5rem;
}
@media screen and (min-width: 1200px) {
  .main .set .title .sub-title {
    padding: 0 1.5rem 0 0;
  }
}
.main .set .title .sub-title span {
  font-size: calc(2vw + 0.3rem);
  line-height: 1;
  position: relative;
  opacity: 0.5;
}
@media screen and (min-width: 800px) {
  .main .set .title .sub-title span {
    font-size: calc(1vw + 0.4rem);
    line-height: 1;
  }
}
@media screen and (min-width: 1200px) {
  .main .set .title .sub-title span {
    font-size: 1rem;
  }
}
.main .set .title .sub-title span::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 1px;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}
.main .set .sub-menu {
  background-color: rgba(158, 158, 158, 0.548);
  display: none;
  transition: all 0.5s;
}
@media screen and (min-width: 1200px) {
  .main .set .sub-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    padding: 4rem 0.3rem;
    margin: 0 0 0 1rem;
    border-radius: 2rem 0 0 2rem;
    width: 1vw;
    height: 10vh;
  }
  .main .set .sub-menu .redes {
    display: none;
  }
  .main .set .sub-menu .redes i {
    margin: 0 0 0.5rem;
  }
  .main .set .sub-menu:hover .redes {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .main .set .sub-menu:hover {
    width: 4vw;
    transition: all 0.5s;
    height: 10vh;
  }
}
.main .post-set {
  padding: 1rem 0 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
@media screen and (min-width: 800px) {
  .main .post-set {
    padding: 10rem 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .main .post-set {
    padding: 0 3rem 0 3rem;
    margin: 0 0 1rem;
  }
}
.main .post-set span {
  font-size: calc(2vw + 0.3rem);
  line-height: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (min-width: 800px) {
  .main .post-set span {
    font-size: calc(1vw + 0.3rem);
    line-height: 1;
  }
}
@media screen and (min-width: 1200px) {
  .main .post-set span {
    font-size: 0.8rem;
  }
}
.main .post-set i {
  padding: 0.2rem 0 0;
}

.section-one {
  position: relative;
  padding: 3rem 1rem;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
.section-one h2 {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 1px;
  position: relative;
}
.section-one h2::before {
  content: "";
  width: 90%;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 800px) {
  .section-one h2::before {
    width: 80%;
  }
}
.section-one h2 span {
  font-size: 0.8rem;
}
.section-one .boxs {
  width: 90%;
  padding: 1rem;
  margin: 3rem 0 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  gap: 1.8rem;
}
@media screen and (min-width: 1200px) {
  .section-one .boxs {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.section-one .boxs .box {
  position: relative;
  margin: 0 auto;
  background-color: green;
  width: 45vw;
  height: 16vh;
  border-radius: 0.5rem;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .section-one .boxs .box {
    width: 30vw;
    height: 35vh;
  }
}
.section-one .boxs .box img {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
}
.section-one .boxs .box .hover {
  opacity: 0;
  transition: all 0.5s;
}
.section-one .boxs .box .hover h2 {
  padding: 1rem;
}
.section-one .boxs .box .hover span {
  padding: 0.5rem;
}
.section-one .boxs .box:hover .hover {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  background-color: rgb(92, 92, 92);
  top: 0;
  left: 0;
  text-align: center;
}

.section-two {
  position: relative;
  padding: 1rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
}
@media screen and (min-width: 1200px) {
  .section-two {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
  }
}
.section-two h2 {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 1px;
  position: relative;
}
.section-two h2::before {
  content: "";
  width: 90%;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 800px) {
  .section-two h2::before {
    width: 80%;
  }
}
.section-two h2 span {
  font-size: 0.8rem;
}
.section-two .main-skills {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.section-two .main-skills .skill {
  text-align: center;
  padding: 0.9rem 0 0 0.8rem;
}
.section-two .main-skills .skill i {
  font-size: 2rem;
}
@media screen and (min-width: 1200px) {
  .section-two .main-skills .skill {
    padding: 3rem;
  }
}
.section-two .main-skills .skills1 i {
  margin: 0 0 1rem 0;
}
.section-two .main-skills .skills3 {
  margin: 0.4rem 0 0;
}
.section-two .main-skills .skills3 i {
  margin: 0 0 0.4rem 0;
}
.section-two .sub-skills {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  gap: 3rem;
}
@media screen and (min-width: 1200px) {
  .section-two .sub-skills {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    gap: 20rem;
  }
}
.section-two .sub-skills .sub-1 span {
  font-size: calc(2vw + 0.2rem);
  line-height: 1;
}
@media screen and (min-width: 1200px) {
  .section-two .sub-skills .sub-1 span {
    font-size: 1rem;
  }
}
.section-two .sub-skills .sub-1 .box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 0;
}
@media screen and (min-width: 1200px) {
  .section-two .sub-skills .sub-1 .box {
    width: 20vw;
  }
}
@media screen and (min-width: 1200px) {
  .section-two .sub-skills .sub-1 .box i {
    font-size: 2rem;
  }
}
.section-two .sub-skills .sub-1 .box img {
  width: 2rem;
  margin: 0.5rem;
}
@media screen and (min-width: 1200px) {
  .section-two .sub-skills .sub-1 .box img {
    width: 3rem;
  }
}
.section-two .sub-skills .sub-2 {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.section-two .sub-skills .sub-2 span {
  font-size: calc(2vw + 0.2rem);
  line-height: 1;
}
@media screen and (min-width: 1200px) {
  .section-two .sub-skills .sub-2 span {
    font-size: 1rem;
  }
}
.section-two .sub-skills .sub-2 .boxs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
@media screen and (min-width: 1200px) {
  .section-two .sub-skills .sub-2 .boxs {
    margin: 0.5rem;
  }
}
.section-two .sub-skills .sub-2 .boxs .box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  gap: 0;
}
.section-two .sub-skills .sub-2 .boxs .box img {
  width: 2rem;
  margin: 0.3rem;
}
@media screen and (min-width: 1200px) {
  .section-two .sub-skills .sub-2 .boxs .box img {
    width: 3.5rem;
  }
}

.section-three {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.section-three h2 {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 1px;
  position: relative;
}
.section-three h2::before {
  content: "";
  width: 90%;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 800px) {
  .section-three h2::before {
    width: 80%;
  }
}
.section-three h2 span {
  font-size: 0.8rem;
}
.section-three .info {
  width: 100%;
  height: 85%;
  margin: 0 0 1rem;
  border-radius: 5rem;
  background-color: rgba(114, 114, 114, 0.9607843137);
  border: 1px solid #7B7B7B;
}
@media screen and (min-width: 800px) {
  .section-three .info {
    width: 70%;
  }
}
.section-three .info .img {
  width: 100%;
  height: 20vh;
  border-radius: 5rem;
  margin: 2rem 0 0;
}
.section-three .info .img img {
  margin: 0 auto;
  height: 20vh;
}
.section-three .info h4 {
  text-align: center;
  padding: 2rem;
  margin: 2rem 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
  width: 100%;
  text-align: center;
  background: rgb(189, 57, 57);
  background: linear-gradient(90deg, rgb(189, 57, 57) 0%, rgb(98, 194, 96) 33%, rgb(79, 64, 219) 65%, rgb(182, 41, 255) 100%);
  position: relative;
}
.footer::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.37);
  position: absolute;
  left: 0;
  z-index: 1;
}
@media screen and (min-width: 800px) {
  .footer::before {
    width: 80%;
  }
}
.footer i {
  padding: 0.1rem 0;
}

/*# sourceMappingURL=app.css.map */
